<p>

  Hello,

     You have been invited to the Family Practice Site with the URL <br/>
     <a href="http://<%= @current_site.name %>.<%= Configuration.site_link %>">http://<%= @current_site.name %>.<%= Configuration.site_link %></a>

</p> 

<br/>
<p>
    Thank you<br/>
    Family Practice Team
</p>