

<h2> Listing Patients </h2>

<table>
    <tr>
	   <th></th>
	   <th></th>
	   <th></th>
    </tr>

    <% @patients.each do |patient| %>
        <tr>
		    <td>
			    <div class="patient-pic">
				    <%= image_tag patient.patient_image.image.to_s if !patient.patient_image.nil? %>
				</div>
	        </td>
        </tr>
    <% end %>
	
</table>

<%= link_to 'Upload Identification Detail', new_patient_image_path %> <span class="cancel"> Or </span>
<%= link_to 'Upload Insurance Document', new_upload_path %>

