
<a href="#patientpic" rel="facebox">See Identification Detail</a> <br/><br/>

<table>
    <tr>
	   <th></th>
	   <th></th>
	   <th></th>
    </tr>
    <% @patients.each do |patient| %>
        <tr>
		    <td>
			    <div id="patientpic" class="patient-pic" style="display:none">
			        <% patient.patient_images.each do |patient_image| %>
					     <%= image_tag patient_image.image.to_s if !patient_image.nil? %>
				    <% end %>
			    </div>
	        </td>
        </tr>
    <% end %>
	
</table>



<%= link_to 'Upload Identification Detail', new_patient_image_path %> <span class="cancel"> | </span>
<%= link_to 'Upload Insurance Document', new_upload_path %>

