
<h1>Listing Patients</h1>

<table>

    <tr>
	   <th></th>
	   <th></th>
	   <th></th>
    </tr>

    <% @patients.each do |patient| %>
        <tr>
		    <td>
			    <% patient.patient_images.each do |patient_image| %>
			        <div class="patient-pic">
				       <%= image_tag patient_image.image.to_s if !patient_image.image.nil? %>
				    </div>
			    <% end %>
	        </td>
        </tr>
    <% end %>
	
</table>

<%= link_to 'Upload Identification Detail', new_patient_image_path %> <span class="cancel"> Or </span>
<%= link_to 'Upload Insurance Document', new_upload_path %>

