<h1> My Appointments </h1>

<% if current_user.is_patient? %>

     <%= render "patient" %>
   
<% end %>


<% if current_user.is_doctor? %>

   
       <%= render "doctor" %>
       
<% end %>

   


